<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Товары по категории</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body class="bg bg-dark text-white">
<header class="p-3 text-bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <span>Магазин девайсов Ааалтынбек | </span>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/search" method="post">
                {% csrf_token %}
                <input name="search_product" required type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Search">
            </form>
            {% if user.is_authenticated %}
            <div class="text-end">
                <button type="button" class="btn btn-primary me-2">Корзина</button>
                <a href="/logout" class="btn btn-danger" role="button">Выйти</a>
            </div>
            {% else %}
            <div class="text-end">
                <a href="/register" class="btn btn-warning me-2" role="button">Регистрация</a>
                <a href="/accounts/login" class="btn btn-light" role="button">Войти</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<hr>
<div class="container px-4 py-4" id="featured-3">
        <h2 class="pb-2 border-bottom">Товары по категории <i style="color: yellow;">"{{ category }}"</i></h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% for p in products %}
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img src="{{ p.product_photo.url }}" width="300" height="300" alt="">
                </div>
                <h3 class="fs-2">{{ p }}</h3>
                <p>{{ p.product_des|slice:64 }}...</p>
                <a href="/product/{{ p.id }}" class="icon-link">Подробнее -></a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>