<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о продукте</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>py
<body class="bg bg-dark text-white">
<header class="p-3 text-bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <span>Магазин девайсов Ааалтынбек | </span>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/search" method="post">
                {% csrf_token %}
                <input name="search_product" required type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск..." aria-label="Search">
            </form>
            {% if user.is_authenticated %}
            <div class="text-end">
                <button type="button" class="btn btn-primary me-2">Корзина</button>
                <a href="/logout" class="btn btn-danger" role="button">Выйти</a>
            </div>
            {% else %}
            <div class="text-end">
                <a href="/register" class="btn btn-warning me-2" role="button">Регистрация</a>
                <a href="/accounts/login" class="btn btn-light" role="button">Войти</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<hr>
<div class="container px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ product.product_photo.url }}" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">{{ product }}</h1>
            <p class="lead">Описание: {{ product.product_des }}</p>
            <p class="lead">Количество на складе: {{ product.product_count }}</p>
            <p class="lead">Категория:
                <a href="/category/{{ product.product_category.id }}">{{ product.product_category }}</a>
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Купить</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">${{ product.product_price }}</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>